
      <div class="copyright_div">
        <div class="pull-left">
          <span class="m-l-xl"> &copy; 2017 Company Name. All rights reserved.</span>
        </div>
        <div class="pull-right quick_links_div">
          <div class="quick_links">
            <a href="#">Home</a>
          </div>

          <div class="quick_links">
            <a href="#">About</a>
          </div>
          <div class="quick_links">
            <a href="#">Services</a>
          </div>
          <div class="quick_links">
            <a href="#">Works</a>
          </div>
          <div class="quick_links">
            <a href="#">News</a>
          </div>
          <div class="quick_links">
            <a href="#">Contact</a>
          </div>
        </div>
      </div>