<div class="order_details_main_div">
  <div class="order_details_inner_div">
    <div class="text-left order_details_text">
      <span>Order Details</span>
    </div>
    <div class="text-right order_details_btns_div">
      <button type="button" name="button" class="order_details_btns">Back</button>
      <button type="button" name="button" class="order_details_btns">Add Product</button>
    </div>
  </div>
  <div class="order_details_info_div">
    <div class="row">
      <div class="col-lg-5">
        <div class="">
          <span><b>Public Order ID : </b></span>
          <span>{{orderData?.public_order_id}}</span>
        </div>
        <div class="m-t-xs">
          <span><b>UserId : </b></span>
          <span>{{orderData?.user_id}}</span>
        </div>
        <div class="m-t-xs">
          <span><b>Name :</b></span>
          <span>{{user?.name}}, Mobile: {{user?.mobile}} </span>
        </div>
        <div class="m-t-xs">
          <span><b>Address :  </b></span>
          <span>??</span>
        </div>
        <div class="m-t-xs">
          <span><b>Order Status </b></span>
          <span>Delivered</span>
        </div>

      </div>
      <div class="col-lg-3">
        <div class="">
          <span><b>Payment Mode : </b></span>
          <span>cash_on_delivery ,</span>
        </div>
        <div class="m-t-xs">
          <span><b>Payment Status</b></span>
          <span>Pending</span>
        </div>
        <div class="m-t-xs">
          <span><b>Coupon used : </b></span>
          <span>,</span>
        </div>
        <div class="m-t-xs">
          <span><b>Discount : </b></span>
          <span>0</span>
        </div>
        <div class="m-t-xs">
          <span><b>Total Bill : </b></span>
          <span>611</span>
        </div>
        <div class="m-t-xs">
          <span><b>Payment : </b></span>
          <span>611</span>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="">
          <span><b>Wallet used : </b></span>
          <span>,</span>
        </div>
        <div class="m-t-xs">
          <span><b>Delivery slots : </b></span>
          <span>6/20/2017(3:00:00PM - 5:00:00 PM)</span>
        </div>
        <div class="m-t-xs">
          <span><b>Order Creation Time : </b></span>
          <span>6/20/2017, 4:18:51 PM</span>
        </div>
        <div class="m-t-xs">
          <span><b>User Comments : </b></span>
          <span>&nbsp;</span>
        </div>
        <div class="m-t-xs">
          <span><b>Store Comments</b></span>
          <span>&nbsp;</span>
        </div>

      </div>
    </div>
  </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_tabular_div">
            <div class="order_details_tabular_inner_div">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Brand</th>
                      <th>Size</th>
                      <th>Quantity</th>
                      <th>Total Prize</th>
                      <th>&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let detail of orderDetail">
                      <td>Name</td>
                      <td>Brand</td>
                      <td>Size</td>
                      <td>Quantity</td>
                      <td>Total Prize</td>
                      <td>
                        <button type="button" name="button" class="modify_remove_btn green_color">Modify</button>
                      </td>
                      <td>
                        <button type="button" name="button" class="modify_remove_btn red_color">Remove</button>
                      </td>
                    </tr>

                    <tr >
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-t-sm m-b-md">
        <div class="col-lg-12">
          <div class="pagination_div text-center">
            <button type="button" name="button" class="pagination_div_btn">Update Status</button>
            <button type="button" name="button" class="pagination_div_btn">Cancel Order</button>
            <button type="button" name="button" class="pagination_div_btn">Print</button>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
</div>