<div class="row m-l-none m-r-none">
  <div class="">
    <div class="filter_main_div">
        <div class="filter_inner_main_div">
          <div class="row m-t ">
            <div class="col-lg-12">
              <label>Filters</label>
              <div class="form-group">
                <div class="icon-addon addon-sm">
                    <input class="form-control" id="email" type="text">
                    <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-t">
            <div class="col-lg-12">
              <label>Item Type</label>
              <div class="custom_select_box">
                <div class="select-wrapper">
                  <select class="" name="">
                    <option value="">Option 1</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row m-t-lg">
            <div class="col-lg-12">
              <label>Current Status</label>
              <div class="custom_select_box">
                <div class="select-wrapper">
                  <select class="" name="">
                    <option value="">Option 1</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row m-t-lg">
            <div class="col-lg-12">
              <label>Start Date</label>
              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row m-t">
            <div class="col-lg-12">
              <label>Product Name</label>
              <input type="text" name="" value="">
            </div>
          </div>
          <div class="row m-t-lg">
            <div class="col-lg-12">
              <label>Mobile</label>
              <input type="text" name="" value="">
            </div>
          </div>
          <div class="row text-center m-t">
            <div class="col-lg-12">
              <button type="button" name="button" class="save_filter_btn">Save Filter</button>
            </div>
          </div>
        </div>
    </div>
    <div class="product_master_main_div ">
      <div class="product_master_inner_div">
        <div class="row m-t-md">
          <div class="col-lg-12">
            <div class="product_master_tabular_div">
              <div class="product_master_tabular_inner_div">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th><input type="checkbox" name="" value=""></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Dec</th>
                        <th>Brand</th>
                        <th>MRP</th>
                        <th>Price</th>
                        <th>Widget</th>
                        <th>UPC</th>
                        <th>Max Quantity</th>
                        <th>Active</th>
                        <th>Current Tag</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="odd">
                        <td><input type="checkbox" name="" value="" ></td>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Desc</td>
                        <td>Brand</td>
                        <td>MRP</td>
                        <td>Price</td>
                        <td>Weight</td>
                        <td>UPC</td>
                        <td>Max Quantity</td>
                        <td>Active</td>
                        <td>Current Tag</td>
                      </tr>
                      <tr class="even">
                        <td><input type="checkbox" name="" value=""></td>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Desc</td>
                        <td>Brand</td>
                        <td>MRP</td>
                        <td>Price</td>
                        <td>Weight</td>
                        <td>UPC</td>
                        <td>Max Quantity</td>
                        <td>Active</td>
                        <td>Current Tag</td>
                      </tr>
                      <tr class="odd">
                        <td><input type="checkbox" name="" value=""></td>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Desc</td>
                        <td>Brand</td>
                        <td>MRP</td>
                        <td>Price</td>
                        <td>Weight</td>
                        <td>UPC</td>
                        <td>Max Quantity</td>
                        <td>Active</td>
                        <td>Current Tag</td>
                      </tr>
                      <tr class="even">
                        <td><input type="checkbox" name="" value=""></td>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Desc</td>
                        <td>Brand</td>
                        <td>MRP</td>
                        <td>Price</td>
                        <td>Weight</td>
                        <td>UPC</td>
                        <td>Max Quantity</td>
                        <td>Active</td>
                        <td>Current Tag</td>
                      </tr>
                      <tr class="odd">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright_div">
        <div class="pull-left">
          <span class="m-l-xl"> &copy; 2017 Company Name. All rights reserved.</span>
        </div>
        <div class="pull-right quick_links_div">
          <div class="quick_links">
            <a href="#">Home</a>
          </div>

          <div class="quick_links">
            <a href="#">About</a>
          </div>
          <div class="quick_links">
            <a href="#">Services</a>
          </div>
          <div class="quick_links">
            <a href="#">Works</a>
          </div>
          <div class="quick_links">
            <a href="#">News</a>
          </div>
          <div class="quick_links">
            <a href="#">Contact</a>
          </div>
        </div>
      </div>

    </div>
  </div>

        </div>
