<div class="row">
  <div class="col-lg-12">
    <div class="sub_menu_main_div" >
      <div class="sub_menu_inner_div">


        <div class="sub_menu_div bg-white cursor_pointer {{status == 'new' ? 'activated_menu_tab_div' : ''}}" (click)="getOrder('new')">

          <span>New</span>
        </div>

        <div class="sub_menu_div bg-white cursor_pointer {{status == 'accepted' ? 'activated_menu_tab_div' : ''}}" (click)="getOrder('accepted')">
          <span>
            <svg class="v-middle" viewBox="0 0 55.867 55.867" style="enable-background:new 0 0 55.867 55.867;" xml:space="preserve">
            <path d="M55.818,21.578c-0.118-0.362-0.431-0.626-0.808-0.681L36.92,18.268L28.83,1.876c-0.168-0.342-0.516-0.558-0.896-0.558
              s-0.729,0.216-0.896,0.558l-8.091,16.393l-18.09,2.629c-0.377,0.055-0.689,0.318-0.808,0.681c-0.117,0.361-0.02,0.759,0.253,1.024
              l13.091,12.76l-3.091,18.018c-0.064,0.375,0.09,0.754,0.397,0.978c0.309,0.226,0.718,0.255,1.053,0.076l16.182-8.506l16.18,8.506
              c0.146,0.077,0.307,0.115,0.466,0.115c0.207,0,0.413-0.064,0.588-0.191c0.308-0.224,0.462-0.603,0.397-0.978l-3.09-18.017
              l13.091-12.761C55.838,22.336,55.936,21.939,55.818,21.578z"/>
            </svg>
          </span>
          <span>Accepted</span>
        </div>
        <div class="sub_menu_div bg-white cursor_pointer {{status == 'processed' ? 'activated_menu_tab_div' : ''}}" (click)="getOrder('processed')">
          <span>
            <svg class="v-middle" viewBox="0 0 333.656 333.656" style="enable-background:new 0 0 333.656 333.656;" xml:space="preserve">
              <path d="M166.825,333.656c-78.215,0-141.847-63.626-141.847-141.84c0-76.062,60.174-138.338,135.42-141.712l0.006-32.282
                C160.404,6.118,168.496,0,176.484,0c2.911,0,7.359,0.816,11.999,4.704l62.212,52.045c4.756,3.978,7.487,9.705,7.487,15.701
                c0,5.996-2.731,11.716-7.487,15.701l-62.212,52.064c-4.647,3.888-9.088,4.704-11.999,4.704c-7.989,0-16.08-6.125-16.08-17.822
                V95.162c-50.431,3.316-90.438,45.399-90.438,96.653c0,53.407,43.452,96.852,96.859,96.852s96.865-43.452,96.865-96.852
                c0-6.954-0.739-13.895-2.204-20.63c-1.273-5.868-0.18-11.89,3.072-16.941s8.271-8.535,14.145-9.807
                c12.037-2.609,24.184,5.379,26.755,17.211c2.134,9.859,3.22,20.007,3.22,30.168C308.678,270.023,245.046,333.656,166.825,333.656z
                 M166.831,62.809c-71.132,0-128.999,57.874-128.999,128.999c0,71.119,57.867,128.987,128.993,128.987
                c71.132,0,128.999-57.867,128.999-128.987c0-9.242-0.983-18.484-2.931-27.449c-1.125-5.148-6.273-8.483-11.478-7.372
                c-2.506,0.546-4.659,2.037-6.048,4.203c-1.388,2.166-1.857,4.743-1.311,7.262c1.652,7.629,2.494,15.482,2.494,23.355
                c0,60.496-49.217,109.706-109.719,109.706c-60.496,0-109.712-49.21-109.712-109.706S106.335,82.09,166.831,82.09h6.427
                l0.006,45.001c0,3.111,1.208,4.968,3.226,4.968c0.643,0,1.979-0.225,3.753-1.71l62.212-52.07c1.819-1.523,2.873-3.65,2.873-5.836
                s-1.048-4.312-2.879-5.842L180.237,14.55c-1.774-1.485-3.111-1.71-3.753-1.71c-2.018,0-3.226,1.857-3.226,4.968v44.994h-6.427
                V62.809z"/>
            </svg>
          </span>
          <span>Processed</span>
        </div>
        <div class="sub_menu_div bg-white cursor_pointer {{status == 'out_for_delivery' ? 'activated_menu_tab_div' : ''}}" (click)="getOrder('out_for_delivery')">
          <span>
            <svg class="v-middle" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <path d="M330.667,384h-21.333c-5.891,0-10.667,4.776-10.667,10.667v74.667h-256V42.667h256v74.667
                c0,5.891,4.776,10.667,10.667,10.667h21.333c5.891,0,10.667-4.776,10.667-10.667V42.667C341.333,19.103,322.231,0,298.667,0h-256
                C19.103,0,0,19.103,0,42.667v426.667C0,492.898,19.103,512,42.667,512h256c23.564,0,42.667-19.102,42.667-42.667v-74.667
                C341.333,388.776,336.558,384,330.667,384z"/>
              <path d="M508.542,248.135l-128-117.333c-3.125-2.844-7.656-3.625-11.5-1.896c-3.875,1.698-6.375,5.531-6.375,9.76V160
                c0,3.021,1.281,5.906,3.531,7.927l74.151,66.74H138.667c-5.896,0-10.667,4.771-10.667,10.667v21.333
                c0,5.896,4.771,10.667,10.667,10.667h301.682l-74.151,66.74c-2.25,2.021-3.531,4.906-3.531,7.927v21.333
                c0,4.229,2.5,8.063,6.375,9.76c1.375,0.615,2.844,0.906,4.292,0.906c2.615,0,5.198-0.969,7.208-2.802l128-117.333
                C510.75,261.844,512,258.99,512,256S510.75,250.156,508.542,248.135z"/>
            </svg>
          </span>
          <span>Out for Delivery</span>
        </div>
        <div class="sub_menu_div bg-white cursor_pointer {{status == 'delivered' ? 'activated_menu_tab_div' : ''}}" (click)="getOrder('delivered')">
          <span>Delivered</span>
        </div>
        <div class="sub_menu_div bg-white cursor_pointer {{status == 'cancelled' ? 'activated_menu_tab_div' : ''}}" (click)="getOrder('cancelled')">
          <span>Cancelled</span>
        </div>
      </div>
      <div class="new_item_div pull-right">
        <span>
          <svg class="v-middle" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" >
            <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
            S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"/>
            <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1
            s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z"/>
          </svg>
        </span>
        <span>New Item</span>
      </div>
    </div>
  </div>
</div>

<div class="row m-l-none m-r-none black_top_border">
  <div class="">
    <div class="filter_main_div">
        <div class="filter_inner_main_div">
          <div class="row m-t ">
            <div class="col-lg-12">
              <label>Filters</label>
              <div class="form-group">
                <div class="icon-addon addon-sm">
                    <input class="form-control" id="email" type="text">
                    <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-t">
            <div class="col-lg-12">
              <label>Item Type</label>
              <div class="common_select_box">
                <div class="input-group-btn dropdown {{item_type ? 'open' : ''}}" (click)="item_type = !item_type">
                    <button type="button" class="btn btn-default font_size_12 no_box_shadow ticket_info_subline_text_color" dropdown-toggle="" aria-haspopup="true" aria-expanded="false" >Select Item Type<span class="caret" style="color: #bfbfbf;"></span></button>
                    <ul class="dropdown-menu">
                      <li class="cursor_pointer" > Item 1</li>
                      <li class="cursor_pointer" > Item 2</li>
                    </ul>
                </div>
                <!-- /btn-group -->
              </div>
            </div>
          </div>

          <div class="row m-t-lg">
            <div class="col-lg-12">
              <label>Current Status</label>
              <div class="common_select_box">
                <div class="input-group-btn dropdown {{status_type ? 'open' : ''}}" (click)="status_type = !status_type">
                    <button type="button" class="btn btn-default font_size_12 no_box_shadow ticket_info_subline_text_color" dropdown-toggle="" aria-haspopup="true" aria-expanded="false" >Select Status<span class="caret" style="color: #bfbfbf;"></span></button>
                    <ul class="dropdown-menu">
                      <li class="cursor_pointer" > Status 1</li>
                      <li class="cursor_pointer" > Status 2</li>
                    </ul>
                </div>
                <!-- /btn-group -->
              </div>
            </div>
          </div>

          <div class="row m-t-lg">
            <div class="col-lg-12">
              <label>Start Date</label>
              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row m-t">
            <div class="col-lg-12">
              <label>Product Name</label>
              <input type="text" name="" value="">
            </div>
          </div>
          <div class="row m-t-lg">
            <div class="col-lg-12">
              <label>Mobile</label>
              <input type="text" name="" value="">
            </div>
          </div>
          <div class="row text-center m-t m-b-35px">
            <div class="col-lg-12">
              <button type="button" name="button" class="save_filter_btn">Save Filter</button>
            </div>
          </div>
        </div>
    </div>
    <div class="product_master_main_div ">
      <div class="product_master_inner_div">
        <div class="row">
          <div class="col-lg-12">
            <div class="product_master_tabular_div">
              <div class="product_master_tabular_inner_div">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Order Id</th>
                        <th>Public Order Id</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Items</th>
                        <th>Total Bills</th>
                        <th>Total to Pay</th>
                        <th>Comments</th>
                        <th>Payment Mode</th>
                        <th>Payment Status</th>
                        <th>Address</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orderList" class="cursor_pointer"  [routerLink]="['/dashboard/order',order.order_id]">
                        <td>{{order?.order_id}}</td>
                        <td>{{order?.public_order_id}}</td>
                        <td>{{order?.name}}</td>
                        <td>{{order?.mobile}}</td>
                        <td>{{order?.items}}</td>
                        <td>{{order?.total_bill}}</td>
                        <td>{{order?.total_to_pay}}</td>
                        <td>{{order?.comments}}</td>
                        <td>{{order?.payment_mode}}</td>
                        <td>{{order?.payment_status}}</td>
                        <td>{{order?.address}}</td>
                        <td>{{order?.start_time | date}}</td>
                        <td>{{order?.end_time | date}}</td>
                        <td></td>
                      </tr>

                      <tr >
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright_div full_width_footer left_0">
        <div class="pull-left">
          <span class="m-l-xl"> &copy; 2017 Company Name. All rights reserved.</span>
        </div>
        <div class="pull-right quick_links_div">
          <div class="quick_links">
            <a href="#">Home</a>
          </div>

          <div class="quick_links">
            <a href="#">About</a>
          </div>
          <div class="quick_links">
            <a href="#">Services</a>
          </div>
          <div class="quick_links">
            <a href="#">Works</a>
          </div>
          <div class="quick_links">
            <a href="#">News</a>
          </div>
          <div class="quick_links">
            <a href="#">Contact</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
